{% extends 'base.html.twig' %}
{% block body %}
<h1>Jaki Komp?</h1>

<div class="row">
  <div class="col-md-4">
    <form method="get" action="wynik">
      <div class="form-group">
        <label for="profile">Do jakich zastosowań?</label>
        <select name="profile" class="form-control">
          <option value="">- wybierz -</option>
          {% for profile in profiles %}
              <option value="{{ profile.name }}">{{ profile.label }}</option>
          {% endfor %}
        </select>
        <p class="help-block">Zamiast tego możesz <a href="#">wskazać własne preferencje</a>.</p>
      </div>

      <div class="form-group">
        <label for="sort">Twój priorytet</label>
        <select name="sort" class="form-control">
          <option value="">- wybierz -</option>
          <option value="cena">niska cena</option>
          <option value="wydajnosc">wydajność</option>
          <option value="prestiz">prestiż</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default">Znajdź najlepsze</button>
    </form>
  </div>
</div>

{% endblock %}
